@model IEnumerable<Jobtransparency.Models.Entity.HangfireConfig>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SQLCommandTimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AffinityThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinKeyPhraseLengthThreshold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SQLCommandTimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AffinityThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinKeyPhraseLengthThreshold)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
