@model AJobBoard.Models.Entity.Apply

@{
    ViewData["Title"] = "Delete";
}
<section class="site-section" style="background-color: burlywood; padding-top: 200px; padding-right: 20px; padding-left: 20px;">
    <h2 style="text-align: center; color: white; padding-bottom: 20px">Are you sure you want to delete this?</h2>

    <div class="container">
        <h5>Are you sure you want to delete this application ?</h5>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateAddedToApplies)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateAddedToApplies)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.JobPosting.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model =>  model.JobPosting.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.JobPosting.Company)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model =>  model.JobPosting.Company)
            </dd>
        </dl>

        <form asp-action="DeleteTrue" asp-antiforgery="true">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>

    </div>
</section>

