@model List<AJobBoard.Models.View.AppliesIndexViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .dataTables_wrapper.dt-bootstrap4.no-footer {
        background-color: bisque;
        padding: 50px;
        border-radius: 25px;
    }

    #myTable {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }

    .dataTables_info {
        font-size: smaller;
    }

    .pagination {
        font-size: smaller;
    }

    #myTable > tbody {
        font-size: 18px;
    }
</style>
@using (Html.BeginForm("Create", "Applies", FormMethod.Post))
{
    @Html.AntiForgeryToken()
}

<section class="site-section" style="background-color: currentColor;padding-top:200px;">
    <div class="container">
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Location</th>
                            <th>JobSource</th>
                            <th>Applicates</th>
                            <th>Views</th>
                            <th>URLs</th>
                            <th>Post Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <td>@item.Title</td>
                                <td>@item.Company</td>
                                <td>@item.Location</td>
                                <td>@item.JobSource</td>
                                <td>@item.Applicates</td>
                                <td>@item.Views</td>
                                <td>@item.URL</td>
                                <td>@item.PostDate</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>
    
</section>

@section Scripts {

    <script>
        var table = "";
        var antiForgeryToken = $("input[name='__RequestVerificationToken']").val();
        function DeleteApp(ID) {
            $.ajax({
                method: "DELETE",
                contentType: 'application/json',
                headers: { "RequestVerificationToken": antiForgeryToken },
                url: "/api/AppliesAPI/" + ID,
                success: function (data) {
                    alertify.success("Removed");
                    table.ajax.reload();
                },
                error: function (xhr) { // if error occured
                    alertify.error("Could Not remove this Job from your Applies");
                }
            })
        }
        $('.delete').click(function () {


        });
        $(document).ready(function () {

        });

    </script>

}
