@model AJobBoard.Models.View.AppliesIndexViewModel

<section class="site-section" style="background-color: burlywood;padding-top:200px; padding-right: 20px; padding-left: 20px;">

    <h2 style="text-align: center; color: white; padding-bottom: 20px">My Applies</h2>

    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-12">
                @if (Model.Applies.Count > 0)
                {
                    <div class="grid ml-5">
                        @foreach (var item in Model.Applies)
                        {
                            <div class="grid-item">
                                <div class="card m-4" style="width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Title</h5>
                                        <a class="btn btn-info" asp-controller="JobPostings" asp-action="Details" asp-route-id="@item.Id">View</a>
                                        <a class="btn btn-danger" asp-controller="Applies" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Company: @item.Company</li>
                                        <li class="list-group-item">Location: @item.Location</li>
                                        <li class="list-group-item">JobSource: @item.JobSource</li>
                                        <li class="list-group-item">Views: @item.Views</li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                }else
                {
                    <h5 class="text-center"> You don't have any applies yet</h5>
                }
            </div>

        </div>
    </div>

</section>


@section Scripts {
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
    <script>
        $(document).ready(function () {
            $('.grid').isotope({
                itemSelector: '.grid-item',
                layoutMode: 'fitRows'
            });
        });
    </script>
}