@model IEnumerable<AJobBoard.Models.Apply>

@{
    ViewData["Title"] = "Index";
}
<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .dataTables_wrapper.dt-bootstrap4.no-footer {
        background-color: bisque;
        padding: 50px;
        border-radius: 25px;
    }
    #myTable{
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }
    .dataTables_info{
        font-size:smaller;
    }
    .pagination{
        font-size: smaller;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.css" />
<section class="site-section" style="background-color: currentColor;padding-top:200px;">
    <div class="container">
        <div class="row">
            <table id="myTable" class="center">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Comapny</th>
                        <th>Location</th>
                        <th>JobSource</th>
                        <th>NumberOfApplies</th>
                        <th>NumberOfViews</th>
                    </tr>
                </thead>
            </table>
        </div>
        @*<table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DateAddedToApplies)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateAddedToApplies)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@

    </div>

</section>

@section Scripts {

    <script>
        $(document).ready(function () {

            var table = $("#myTable").DataTable({
            responsive: true,
            serverSide: true,
            processing: true,
            orderCellsTop: true,
            deferRender: true,
            pagingType: "full_numbers",
            ajax: {
                url: '@Url.Action("UserAppliesListAsync")',
                type: "GET",
                contentType: "application/json",
                headers: { },
                data: function (data) {
                    console.log(data);
                    return JSON.stringify(data);
                },
                error: function () {
                    alertify.error("Could Not Display Table");
                    $(location).attr('href', '/Home/Index')
                }
                },
                columns: [
                    { title: 'Title', data: "title"  },
                    { title: 'Company', data: "company"  },
                    { title: 'Location', data: "location"  },
                    { title: 'JobSource', data: "jobSource"  },
                    { title: 'NumberOfApplies', data: "numberOfApplies"  },
                    { title: 'NumberOfViews', data: "numberOfViews"  }
                ]
            });

    });

    </script>

}
