@model AJobBoard.Models.View.AppliesIndexViewModel

<section class="site-section" style="background-color: burlywood;padding-top:200px; padding-right: 20px; padding-left: 20px;">

    <h2 style="text-align: center; color: white; padding-bottom: 20px">My Applies</h2>

    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-12 text-center">

                <table class="table" style="color: white;">
                    <thead>
                        <tr>
                            <th>
                                Title
                            </th>
                            <th>
                                Company
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                JobSource
                            </th>
                            <th>
                                Views
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Applies)
                        {
                            <tr>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Company
                                </td>
                                <td>
                                    @item.Location
                                </td>
                                <td>
                                    @item.JobSource
                                </td>
                                <td>
                                    @item.Views
                                </td>
                                <td>

                                    <a asp-controller="Applies" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</section>
