@model AJobBoard.Models.Entity.Document

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<section class="site-section" style="background-color: currentColor;padding-top:200px;">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center" style="padding-bottom: 10px;">
                <h5 class="section-title mb-2" style="color:white;">Details</h5>
            </div>
            <div class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div>
                            <h4>Document</h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.URL)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.URL)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IsResume)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IsResume)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.IsOtherDoc)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.IsOtherDoc)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DateCreated)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DateCreated)
                                </dd>
                            </dl>
                        </div>
                        <div>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.DocumentId">Edit</a> |
                            <a class="btn btn-primary" asp-action="Index">Back to List</a>
                        </div>

                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div>
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>



</section>
