@model IEnumerable<AJobBoard.Models.Document>

@{
    ViewData["Title"] = "Index";
}
<section class="site-section" style="background-color: currentColor;padding-top:200px;">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center" style="padding-bottom: 20px;">
                <h2 class="section-title mb-2" style="color: white;">Your Resumes</h2>
                <p>
                    <a class="btn btn-primary" asp-action="Create">Create New</a>
                </p>
            </div>
            <div class="col-md-12 text-center">

                <table class="table" style="color: white;">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Document Type
                            </th>
                            <th>
                                Date Created
                            </th>

                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.DocumentName
                                </td>
                                @if (item.IsResume)
                                {
                                    <td>
                                        Resume
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        Document
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a> |
                                    <a asp-action="Download" asp-route-fileName="@item.URL">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</section>

