@model AJobBoard.Models.View.HomeIndexViewModel
<cache expires-sliding="TimeSpan.FromMinutes(@Model.TimeToCache)">
    <section class="home-section section-hero overlay bg-image" style="background-image: url(@Model.ImageName);" id="home-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center">
                        <h1 class="text-white font-weight-bold">A Powerful Career Website</h1>
                        <p>Find your dream jobs in our powerful career website.</p>
                    </div>

                    @using (Html.BeginForm("IndexPost", "JobPostings", FormMethod.Post))
                    {
                        <div class="row mb-5">
                            <div class="col-12">
                                <input style="height:47px;" type="text" name="FindModel.KeyWords" class="form-control form-control-lg" placeholder="Job title, keywords...">
                            </div>

                            <div class="col-12">
                                <button style="margin-top:25px;" type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="icon-search icon mr-2"></span>Search Job</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </section>


    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url(@Model.ImageName);">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2 text-white">Careers Statistics</h2>
                </div>
            </div>
            <div class="row pb-0 block__19738 section-counter">

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number="">1930</strong>
                    </div>
                    <span class="caption">Candidates</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number">@ViewBag.TotalJobs</strong>
                    </div>
                    <span class="caption">Jobs Posted</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number="120">120</strong>
                    </div>
                    <span class="caption">Jobs Filled</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number="550">550</strong>
                    </div>
                    <span class="caption">Companies</span>
                </div>


            </div>
        </div>
    </section>

    <section class="site-section" style="background-color: beige;">

        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Latest Job Listings</h2>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <div class="mb-5">
                @if (Model.JobPostings != null)
                {
                    @foreach (var item in Model.JobPostings)
                    {
                <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">

                    <div class="col-md-2">
                        <button data-id="@item.Id" class="btn btn-warning AddToApplies">Add To Applies</button>
                        <div class="spacer">
                        </div>
                        <button data-id="@item.Id" class="btn btn-warning ViewSummary">View Summary</button>
                    </div>
                    <div class="col-md-4 Summary_@item.Id" style="color:beige;display: none;">
                        <p style="color: black" class="meta">@item.Summary</p>
                    </div>
                    <div class="col-md-4">
                        @if (item.Title.ToLower().Contains("devops") || item.Title.ToLower().Contains("dev ops"))
                        {
                            <span class="badge badge-primary px-2 py-1 mb-3">Dev Ops</span>
                        }
                        else
                        {
                            <span class="badge badge-primary px-2 py-1 mb-3">Software</span>
                        }
                        <h2>
                            <a asp-controller="JobPostings" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                        </h2>
                        <p style="color: black;">Publisher: <strong>Indeed</strong> </p>
                    </div>
                    <div class="col-md-2 text-left">
                        <h3>Location :</h3>
                        @if (string.IsNullOrEmpty(item.Location))
                        {
                            <h3>Non - Found</h3>

                        }
                        else
                        {
                            <h3>@Html.DisplayFor(modelItem => item.Location)</h3>

                        }
                    </div>

                    <div class="col-md-2">
                        <h5>Company :</h5>
                        <strong class="text-black">@Html.DisplayFor(modelItem => item.Company)</strong>

                    </div>
                    <div class="col-md-2 text-md-right">
                        <h5>Date Posted :</h5>
                        <strong class="text-black">@item.DateAdded.ToShortDateString()</strong>

                    </div>

                </div>

                    }
                }



            </div>

            <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left">
                    <a asp-action="Index" asp-controller="JobPostings" class="btn btn-primary btn-sm">More Job Listings</a>
                </div>
            </div>

        </div>
    </section>
    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url(@Model.ImageName);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="text-white">Looking For A Job?</h2>
                    <p class="mb-0 text-white lead">
                        Sign Up Now and save your self some time
                    </p>
                </div>
                <div class="col-md-3 ml-auto">
                    <a asp-area="Identity" asp-page="/Account/RegisterJobSeeker" class="btn btn-warning btn-block btn-lg">Sign Up</a>
                </div>
            </div>
        </div>
    </section>
</cache>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var randomPicIndex = Math.floor(Math.random() * 10);
            $(".home-section section-hero overlay bg-image").css('background-image', 'url(' + 'images/tech' + randomPicIndex + '.jpg' + ')');
            $('.ViewSummary').click(function () {
                var id = $(this).data('id');
                if ($(".Summary_" + id).is(":hidden")) {
                    $(".Summary_" + id).show();
                } else {
                    $(".Summary_" + id).hide();
                }
            });

            var antiForgeryToken = $("input[name='__RequestVerificationToken']").val();
            $('.AddToApplies').click(function () {
                var d = $(this).data('id');
                $.ajax({
                    method: "POST",
                    contentType: 'application/json',
                    headers: { "RequestVerificationToken": antiForgeryToken },
                    url: "/api/AppliesAPI",
                    data: JSON.stringify({ Id: parseInt(d) }),
                    success: function (data) {
                        alertify.success("Added to Applies");
                    },
                    error: function (xhr) { // if error occured
                        alertify.error("Could Not Add this Job to your Applies");
                    }
                })
            });
        });


    </script>

}

