@model AJobBoard.Models.View.JobPostingDetailViewModel
@{
    ViewData["SEO_Info_Title"] = Model.CurrentJobPosting.Title + " - " + Model.CurrentJobPosting.Company;
    ViewData["SEO_Info_Description"] = Model.CurrentJobPosting.Summary;
}
<section class="section-hero overlay inner-page bg-image" style="background-image: url(@Model.ImageName);"
         id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="headerdetail text-white font-weight-bold">@ViewData["SEO_Info_Title"]</h1>
            </div>
        </div>
    </div>
</section>

@Html.AntiForgeryToken()

<section class="site-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div>
                        <h2>@Html.DisplayFor(model => model.CurrentJobPosting.Title)</h2>
                        <div>
                            @if (!string.IsNullOrEmpty(Model.CurrentJobPosting.Company))
                            {
                <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>@Html.DisplayFor(model => model.CurrentJobPosting.Company)</span> }
                            else
                            {
                <span class="ml-0 mr-2 mb-2"><span class="icon-briefcase mr-2"></span>N/A</span>}
                            @if (!string.IsNullOrEmpty(Model.CurrentJobPosting.Location))
                            {
                <span class="m-2"><span class="icon-room mr-2"></span>@Html.DisplayFor(model => model.CurrentJobPosting.Location)</span> }
                            else
                            {
                <span class="m-2"><span class="icon-room mr-2"></span>N/A</span>}

                            <span class="m-2">
                                <span class="icon-clock-o mr-2"></span><span class="text-primary">
                                    Full
                                    Time
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <a href="#" data-id="@Model.CurrentJobPosting.Id" class="btn btn-block btn-light btn-md AddToApplies">
                            <span class="icon-heart-o mr-2 text-danger"></span>Add To Applies
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="@Model.CurrentJobPosting.URL" target="_blank" class="btn btn-block btn-primary btn-md">View On Indeed</a>
                    </div>
                    <div style="margin-top:20px;" class="col-6">
                        <a href="/JobPostings/" class="btn btn-block btn-warning btn-md">Back</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary">
                        <span class="icon-align-left mr-3"></span>Job
                        Description
                    </h3>
                    <p>
                        @Html.Raw(System.Net.WebUtility.HtmlDecode(Model.CurrentJobPosting.Description).Replace(@"\", ""))
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            var antiForgeryToken = $("input[name='__RequestVerificationToken']").val();
            $('.AddToApplies').click(function () {
                var d = $(this).data('id');
                $.ajax({
                    method: "POST",
                    contentType: 'application/json',
                    headers: { "RequestVerificationToken": antiForgeryToken },
                    url: "/api/AppliesAPI/addToUserApplies/" + parseInt(d),
                    success: function (data) {
                        alertify.success("Added to Applies");
                    },
                    error: function (xhr) {
                        alertify.error("Could Not Add this Job to your Applies");
                    }
                })
            });
        });
    </script>

}